.ticketCard-img img{
    height: 180px;
}
.ticketCard-content{
    height: calc(100% - 180px);
}
// hover
.ticketCard-img img:hover{
    transform: scale(1.2);
    transition: all .5s;
}
.ticketCard-name:hover{
    color: #64C3BF;
}